---
import AuthorBar from "../components/AuthorBar.astro";
import BenchmarkGrid from "../components/BenchmarkGrid.astro";
import FilterPills from "../components/FilterPills.astro";
import Footnotes from "../components/Footnotes.astro";
import HeroSection from "../components/HeroSection.astro";
import HomeBehavior from "../components/HomeBehavior.astro";
import SummaryGrid from "../components/SummaryGrid.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="container">
    <AuthorBar />
    <HeroSection />
    <FilterPills />
    <BenchmarkGrid />
    <SummaryGrid />
    <Footnotes />
  </main>
  <HomeBehavior />
</BaseLayout>
