---
import { translations } from "../data/home";
---

<div class="footnote">
  <span data-i18n="footnote1" set:html={translations.en.footnote1}></span>
  <br />
  <br />
  <span data-i18n="footnote2" set:html={translations.en.footnote2}></span>
</div>
