---
import { siteMeta } from "../data/site";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = siteMeta.title,
  description = siteMeta.description
} = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | {siteMeta.author.name}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=Syne:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="orb orb1"></div>
    <div class="orb orb2"></div>
    <slot />
  </body>
</html>
